body {
    background-color: #1a1e27;
    color: #9cae6a;
    font-family: '黒薔薇ゴシック heavy', sans-serif;
}

.container {
    width: 100%;
    max-width: 300px; /* 最大幅を500pxに設定 */
    margin: 0 auto;
    padding: 10px;
    background-color: #2a2e37;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    border: 1px solid #0d2818; 
    border-radius: 5px;
    background-color: #152020;
    color: #9cbf9c;
    font-size: 15px;    
}

input::placeholder {
    color: #1cff60; /* プレースホルダーの文字色 */
}

input:focus, select:focus {
    border-color: #fffb1b; /* フォーカス時のボーダーの色 */
    outline: none; /* デフォルトのアウトラインを消す */
}

button {
    background-color: #022b0c;
    color: rgb(237, 249, 189);
    cursor: pointer;
}

button:hover {
    background-color: #c9ae73;
}

.radio-group {
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    margin: 5px 0; /* 上下のマージン */
}

.radio-group input {
    margin-right: 30px; /* ラジオボタンとラベルの間のスペース */
}

.radio-group label {
    margin-right: 10px;
    font-size: 10px/* ラジオボタンとラベルの間のスペースを調整 */
}


@media (max-width: 768px) {
    .container {
        padding: 10%; /* パディングを減らす */
    }
    input, select, button {
        font-size: 15px; /* フォントサイズを調整 */
    }
}
